@use '../../styles/utils' as *;

.booking-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 30px;

  text-align: center;
  height: 70dvh;

  @include on-desktop {
    height: auto;
    margin-block: 40px;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 70px;
    height: 70px;

    border: 3px solid $color-primary;
    border-radius: 50%;
  }

  &__title {
    margin-block: 30px 10px;
  }

  &__text {
    margin-block: 0 30px;
  }

  &__button {
    min-width: 130px;
    height: 55px;
    padding: 16px 30px;

    background-color: transparent;
    color: $color-primary;

    border: 1px solid $color-primary;
    border-radius: 4px;

    cursor: pointer;

    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $color-primary;
      color: $color-white;
    }
  }
}
