@use '../../styles/utils' as *;

.equipment-card {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 417px;

  padding: 20px;

  border: 1px solid $color-elements;
  border-radius: 8px;

  box-shadow: 0 0 24px rgba(0, 0, 0, 0.08);

  @include on-tablet {
    padding: 20px 14px;
  }

  @include on-desktop {
    gap: 30px;
    height: 504px;

    padding: 30px 20px;
  }

  &__badge {
    position: absolute;
    top: 8px;
    left: 6px;
    z-index: 1;

    padding: 2px 5px;

    border-radius: 4px;

    background-color: $color-green;
    color: $color-white;

    @include on-tablet {
      top: 12px;
      left: 10px;

      padding: 3px 7px;
    }

    @include on-desktop {
      top: 18px;
      left: 15px;
    }

    &--booked {
      background-color: $color-elements;
    }
  }

  &__image {
    display: block;

    width: 100%;
    height: 100%;

    object-fit: contain;

    &-wrapper {
      position: relative;

      width: 100%;
      height: 50%;
      aspect-ratio: 1 / 1;

      overflow: hidden;

      @include on-tablet {
        aspect-ratio: 1 / 0.85;
      }

      @include on-desktop {
        aspect-ratio: 1 / 1;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2px;

    min-width: 0;

    @include on-tablet {
      gap: 4px;
    }

    @include on-desktop {
      gap: 0;
    }
  }

  &__name {
    margin: 0;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;

    @include on-desktop {
      display: block;
      overflow: visible;
    }
  }

  &__model {
    margin: 0;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

    @include on-desktop {
      display: block;
      overflow: visible;
    }
  }

  &__price {
    margin: 0;
    font-weight: 700;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 50px;

    gap: 3px;

    padding: 0 4px;

    border: 1px solid $color-accent;
    border-radius: 4px;

    color: $color-primary;
    background-color: transparent;

    transition: background-color 0.3s ease-in-out;

    &:disabled {
      cursor: not-allowed;

      &:hover {
        background-color: transparent;
      }
    }

    &:hover {
      background-color: $color-accent;
    }

    @include on-tablet {
      height: 40px;
      gap: 6px;
    }

    @include on-desktop {
      height: 50px;
      gap: 12px;
      padding: 0;
    }
  }
}
