$color-accent: #f2c300;
$color-secondary-accent: #f447af;
$color-primary: #0f0f11;
$color-secondary: #f3f3f3;
$color-icons: #b4bdc3;
$color-elements: #e2e6e9;
$color-background: #f7f7f7;
$color-white: #fff;
$color-green: #46a751;
$color-background-black: #1e1e1e;
$tablet-min-width: 640px;
$desktop-min-width: 1024px;
$font-family: 'Montserrat', sans-serif;
