@use '../../styles/utils' as *;

.modal {
  position: fixed;
  z-index: 1000;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px;

  background-color: rgba(0, 0, 0, 0.5);

  &__content {
    position: relative;

    width: 100%;
    max-width: 290px;
    padding: 40px 30px;

    background-color: $color-white;
    border-radius: 8px;

    @include on-tablet {
      padding: 50px 62px;
      max-width: 468px;
    }
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    padding: 0;

    background-color: transparent;
    border: none;

    color: $color-primary;
    font-size: 24px;
    line-height: 1;

    cursor: pointer;
  }
}
