@use '../../styles/utils' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;

  display: flex;
  flex-direction: column;

  background-color: $color-white;
  border-bottom: 1px solid $color-elements;

  @include on-desktop {
    background-color: $color-secondary;
  }

  &__nav {
    display: none;

    @include on-desktop {
      display: block;
    }
  }

  &__main {
    width: 100%;

    @include on-desktop {
      background-color: $color-white;
    }

    &-phone {
      color: $color-primary;
      text-decoration: none;
    }

    &-content {
      display: flex;
      min-height: 80px;
      align-items: center;
      justify-content: space-between;
      padding-inline: 30px;

      @include on-desktop {
        max-width: 1024px;
        min-height: 125px;
        margin-inline: auto;
        padding-inline: 48px;
      }
    }

    &-logo {
      width: 120px;
      height: 32px;

      background-repeat: no-repeat;

      @include on-desktop {
        width: 170px;
        height: 40px;
      }
    }

    &-catalog {
      padding: 0;

      background-color: transparent;
      border: none;
      cursor: pointer;

      @include on-desktop {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 124px;
        height: 50px;

        background-color: $color-white;
        border: 1px solid $color-primary;
        border-radius: 4px;
        gap: 3px;

        pointer-events: none;
      }
    }

    &-city {
      display: none;

      @include on-desktop {
        display: flex;
        flex-direction: column;
        gap: 7px;
      }
    }

    &-text {
      margin: 0;
    }

    &-contact {
      display: none;

      @include on-desktop {
        display: flex;
        flex-direction: column;
        gap: 7px;
      }
    }

    &-button {
      display: none;

      @include on-desktop {
        display: flex;
        justify-self: flex-end;
      }
    }
  }

  &__menu-close {
    position: absolute;
    top: 20px;
    right: 20px;

    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    @include on-desktop {
      display: none;
    }
  }
}
