@use '../../styles/utils' as *;

.header {
  position: sticky;
  top: 0px;
  z-index: 3;

  display: flex;
  flex-direction: column;
  background-color: $color-white;

  &__main {
    width: 100%;
    background-color: $color-white;
    border-bottom: 1px solid $color-elements;

    &-phone {
      color: $color-primary;
      text-decoration: none;
    }

    &-content {
      @include grid;
      height: 50px;
      align-items: center;

      @include on-desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1280px;
        margin-inline: auto;
        padding-inline: 30px;
        padding-inline: 48px;
        min-height: 110px;
      }
    }

    &-logo {
      width: 120px;
      height: 32px;

      background-repeat: no-repeat;

      @include on-desktop {
        width: 170px;
        height: 40px;
      }
    }

    &-wrapper {
      @include on-desktop {
        position: relative;
      }
    }

    &-catalog {
      padding: 0;

      background-color: transparent;
      border: none;
      cursor: pointer;

      display: none;

      @include on-desktop {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 124px;
        height: 50px;

        background-color: $color-white;
        border: 1px solid $color-primary;
        border-radius: 4px;
        gap: 3px;

        transition: all 0.3s ease-in-out;

        &--active {
          background-color: $color-primary;
          color: $color-white;
        }
      }

      &:hover .header__main-menu {
        background-image: url('/img/icons/icon-burger-white.svg');
      }

      &:hover {
        background-color: $color-primary;
        color: $color-white;
      }
    }

    &-catalog-mobile {
      justify-self: end;
      padding: 0;

      @include on-desktop {
        display: none;
      }

      background-color: transparent;
      border: none;
      grid-column: -1;
    }

    &-city {
      display: none;

      @include on-desktop {
        display: flex;
        flex-direction: column;
        gap: 7px;
      }
    }

    &-text {
      margin: 0;
    }

    &-contact {
      display: none;

      @include on-desktop {
        display: flex;
        flex-direction: column;
        gap: 7px;
      }
    }

    &-button {
      display: none;

      @include on-desktop {
        display: flex;
        justify-self: flex-end;
      }
    }
  }

  &__menu-close {
    position: absolute;
    top: 7px;
    right: 20px;

    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    @include on-desktop {
      display: none;
    }
  }

  &__mega-menu {
    display: none;

    @include on-desktop {
      display: block;
      position: absolute;
      top: 50px;
      left: 0;
    }

    &-list {
      margin: 0;
      padding: 10px;
      background-color: $color-background;
      border-radius: 8px;
      width: 320px;

      display: flex;
      flex-direction: column;
    }

    &-item {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;

      position: relative;
    }

    &-link {
      padding: 15px;
      background-color: transparent;
      border: none;

      cursor: pointer;
    }

    &-arrow {
      transform: rotate(270deg);
    }

    &-models {
      position: absolute;
      top: 0;
      left: calc(100% + 10px);

      width: 300px;

      &-list {
        list-style: none;

        margin: 0;
        padding: 0;
        background-color: $color-background;
        border-radius: 8px;
        width: max-content;

        display: flex;
        flex-direction: column;
      }

      &-link {
        border: none;
        background-color: transparent;
        padding: 15px;
        width: 100%;

        display: flex;
        gap: 4px;

        cursor: pointer;
      }
    }
  }
}
