@use '../../styles/utils' as *;

.equipment-carousel {
  grid-column: 1 / -1;

  position: relative;

  &__content {
    display: flex;
    gap: 10px;

    width: 100%;

    padding-block: 25px;

    overflow-x: auto;

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    @include on-tablet {
      gap: 16px;
      padding-block: 30px;
    }

    @include on-desktop {
      gap: 30px;
      padding-block: 35px;

      overflow-x: hidden;
    }
  }

  &__card {
    flex: 0 0 210px;
    width: 210px;

    scroll-snap-align: start;
    cursor: pointer;

    @include on-tablet {
      flex-basis: 220px;
      width: 220px;
    }

    @include on-desktop {
      flex: 0 0 calc((100% - 60px) / 3);
      width: calc((100% - 60px) / 3);
      min-width: 0;
    }
  }

  &__arrows {
    display: none;

    @include on-desktop {
      display: flex;
      align-items: center;
      justify-content: space-between;

      position: absolute;
      top: 50%;
      left: -35px;
      right: -35px;

      z-index: 1;

      pointer-events: none;
      transform: translateY(-50%);

      @media (min-width: 1200px) {
        left: -60px;
        right: -60px;
      }
    }
  }

  &__arrow {
    width: 20px;
    height: 55px;

    padding: 0;

    border: none;
    background-color: transparent;

    cursor: pointer;
    pointer-events: auto;

    &--next {
      transform: rotate(180deg);
    }

    &:disabled {
      opacity: 0.3;
      cursor: default;
    }
  }

  &__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    margin-top: 10px;

    &-dot {
      width: 8px;
      height: 8px;

      padding: 0;

      border: 1px solid $color-primary;
      border-radius: 50%;
      background-color: $color-white;

      cursor: pointer;

      &--active {
        background-color: $color-primary;
      }
    }
  }
}
