@use '../../styles/utils' as *;

.breadcrumbs {
  grid-column: 1 / -1;

  display: flex;
  align-items: center;
  gap: 8px;

  padding-top: 0;
  padding-left: 4px;

  color: $color-background;

  font-family: $font-family;
  font-size: 12px;
  line-height: 16px;

  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__link {
    color: $color-background;
    text-decoration: none;
  }

  &__current {
    color: $color-background;
  }

  &__separator {
    color: $color-elements;
  }

  @include on-tablet {
    padding-left: 0;
  }

  @include on-desktop {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;

    padding-inline: 0;
    padding-block: 0;
  }
}
