@use '../../styles/utils' as *;

.breadcrumbs {
  grid-column: 1 / -1;

  display: flex;
  align-items: center;
  gap: 8px;

  color: $color-background;

  font-family: $font-family;
  font-size: 12px;
  line-height: 16px;

  padding-inline: 30px;
  padding-top: 20px;

  @include on-tablet {
    padding-inline: 48px;
  }

  @include on-desktop {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;

    padding-top: 50px;
    padding-left: 7px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__link {
    color: $color-background;
    text-decoration: none;
  }

  &__current {
    color: $color-background;
  }

  &__separator {
    color: $color-elements;
  }

  &--black {
    padding-bottom: 60px;
    color: $color-white;
    padding-top: 0;
  }
}
