@use './styles/utils/' as *;
@use './styles/blocks/page';
@use './styles/blocks/icon';
@use './styles/blocks/text';
@use './styles//blocks/fonts.scss';

#about,
#rental-terms,
#contacts {
  scroll-margin-top: 170px;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__nav {
    width: 100%;
    background-color: $color-secondary;
    border: 1px solid $color-elements;
    z-index: 4;
  }

  &__main {
    flex-grow: 1;
  }
}
